
.container {
    width: 1092px!important;
    margin-bottom: -74px;
}
.divisor{
  margin-left: 170px ;
  margin-right:170px ;
}
.button {
    float: left;
    min-width: 129px;
    /* max-width: 250px; */
    display: block;
    margin: 1em;
    padding: 0.6em 1em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button.type1 {
    margin-top: 1px;
  }
 .button.type1.type1::after, .button.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .button.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #566473;
    border-right-color: #566473;
  }
  .button.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #566473;
    border-left-color: #566473;
  }
  .button.type1.type1:hover:after, .button.type1.type1:hover:before {
    width: 100%;
    height: 100%;
  }
  .button.type2 {
    color: #16a085;
    margin-top: 1px;
  }
  .button.type2.type2:after, .button.type2.type2:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #16a085;
    transition: all 0.3s ease;
    transform: scale(0.85);
  }
  .button.type2.type2:hover:before {
    top: 0;
    transform: scale(1);
  }
  .button.type2.type2:hover:after {
    transform: scale(1);
  }
  .button.type3 {
    color: #435a6b;
    margin-top: 1px;
  }
  .button.type3.type3::after, .button.type3.type3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .button.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
  }
  .button.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
  }
  .button.type3.type3:hover:after, .button.type3.type3:hover:before {
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
    width: 100%;
    height: 100%;
  }
  .button.type4 {
    color: red;
  }
  .button.type4::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    background-color: red;
    transition: width 0.3s ease-in-out;
  }
  .button.type4::after {
    bottom: 0;
  }
  .button.type4:hover::after {
    width: 50px;
  } 
  