@media (min-width: 992px) {
    .modal-lg {
        width: 1200px;
    }
}

/*     .modal-dialog {
    width: 800px !important;
} */

.modal-open .modal {


    overflow-x: hidden;
    overflow-y: auto;
    bottom: -444px;
}


.camp1 {
    padding-top: 20px;
}

.modal-footer {
    background-color: #ffffff !important;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100% !important;
    margin-bottom: 0;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #ffffff;
}

.table {

    box-shadow: none;
}

@media (min-width: 992px) {
    .col-md-10 {
        width: 84.333333% !important;
    }
}


.modal-footer {
    margin-bottom: -15px;
}


.swal2-popup.swal2-modal.swal2-icon-info.swal2-show {
    width: 384px;
}


.table.table-custom > thead > tr td, .table.table-custom > thead > tr th, .table.table-custom > tbody > tr td, .table.table-custom > tbody > tr th, .table.table-custom > tfoot > tr td, .table.table-custom > tfoot > tr th {
    padding: 8px;
    padding-left: 60px!important;
}


.modal-footer {
    background-color: #ffffff !important;
  }

  .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 70% !important;
    margin-bottom: 0;
  }

  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #ffffff;
  }

  .table {

    box-shadow: none;
  }



  /* ---------------------------------------------------------------------------------- */

