
/*PC*/
@media (min-width:768px){

.container_table {
    margin-top: 100px;
    justify-content: center;
    margin-left: 350px;
    font-family: helvetica;
    font-size: 12px;
}

}

table {
    width: 100px;
    border-right-color: #ffffff;
    font-size: 10px;
    border: 1px solid #343a40;
    border-collapse: collapse; 
    margin-left: -200px;
  }
  
  th, td {
    border: 1px solid #343a40;
    padding:11px 16px!important;
    text-align: left;
  }

  th {
    background-color: #087f5b;
    color: #fff;
    width: 25%;
    padding-left: -1px;
    padding-right: 55px;
  }

  tbody tr:nth-child(odd){
    background-color: #f8f9fa;
  }

  
  tbody tr:nth-child(even){
    background-color: #e9ecef;
  }

  /* Usando CSS Section #2*/
  @import url("https://fonts.googleapis.com/css?family=Nunito:200,400,400i,600,700,800");
  @import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

  
  .blog-card {
    display: block;
    position: relative;
    background: #444;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat !important;
    width: 100%;
    max-width: 923px!important;
    height: 380px;
    box-shadow: 4px 8px 28px rgba(39, 44, 49, 0.1), 1px 3px 8px rgba(39, 44, 49, 0.75)!important;
    margin: 15vh auto;
    overflow: hidden !important;
  }
  .blog-card:hover {
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.2), 0 3px 16px rgba(39, 44, 49, 0.25);
    transform: translate3D(0, -0.5px, 0);
  }
  .blog-card .content-mask {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 101%;
    overflow: hidden;
    z-index: 60;
  }
  .blog-card .horizontal {
    display: inline-block;
    position: relative;
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.9) 50%, transparent 0);
    height: 101%;
    width: 100%;
    right: 0.8%;
    overflow: hidden;
  }
  
  .blog-card.python {
    background-image: url("https://i.pinimg.com/564x/69/5d/ab/695dabc8376ad9ee2119ec9817b654d4.jpg");
  }
  .blog-card.web {
    background: url("https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2016/12/improving-website-performance-using-a-content-delivery-network-cdn.jpg");
  }
  
  .content-container {
    margin-right: -5vw;
  }
  
  .category {
    display: inline-block;
    background: #e23f7e;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    min-width: 45px;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(172, 28, 56, 0.1), 0 2px 6px rgba(172, 28, 56, 0.175);
    margin: 3vh 2px 2.5vh;
    padding: 6px 8px;
    cursor: pointer;
    z-index: 9;
  }
  .category.python {
    background: #2a9d5a;
  }
  .category:hover {
    box-shadow: 0 0 1px rgba(10, 96, 58, 0.2), 0 3px 6px rgba(39, 44, 49, 0.25);
  }
  
  h1 {
    background: transparent;
    color: rgba(0, 0, 0, 0.9);
    font-family: "Nunito", "Open Sans", sans-serif;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1.2;
    height: auto;
    border-bottom: 2px solid rgba(204, 204, 204, 0.75);
    margin-top: 0;
    margin-bottom: 0.35em;
    padding-bottom: 5px;
  }
 
  
  .post-detail {
    color: rgba(0, 0, 0, 0.55);
    padding-left: 2px;
    vertical-align: middle;
  }
  .post-detail .icon svg {
    position: relative;
    width: 14px;
    margin-right: 7px;
  }
  .post-detail .date {
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.85em;
  }
  
  .credit {
    position: relative;
    font-family: "Nunito" Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    bottom: 0.75em;
    margin-bottom: 10vh;
  }
  .credit .creator-link {
    color: #000;
    font-family: "Kaushan Script", "Lato", Helvetica, sans-serif;
    font-size: 1.05em;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: all 300ms linear;
  }
  .credit .creator-link:hover {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    transition: all 350ms linear;
  }

  .content-list li {
    text-align-last: left;
    font-size: 17px;
}
.content-list {
  margin-left: 152px;
  margin-right: 96px;
  margin-top: 39px;
  margin-bottom: 10px;
}
.service{
  box-shadow: 4px 8px 28px rgba(39, 44, 49, 0.1), 1px 3px 8px rgba(39, 44, 49, 0.75)!important;
}