.container-fluid2 .row{
    margin-top: 20px;
}

.pb-6, .py-6 {
    padding-bottom: 4.5rem !important;
    border-radius: 5px;
}
.card.bg-default {
    padding-bottom: 20px!important;
}

@media (min-width: 768px){
.main-content .container-fluid2{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
}