/*--------------------
Mixins
---------------------*/
/*--------------------
Body
---------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 50%;
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  background: #D3CCE3;  /* fallback for old browsers */
 
  
}

/*--------------------
Shop Card
---------------------*/
.shop-card {
  /*top: 50%;*/
  left: -20px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 5px;
  /*padding: 25px;*/
  text-align: center;
}

.container_aperturas{
  padding: 100px;
}


.shop-card .title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 20px;
  color: #13296d;
  margin-bottom: 5px;
}
.shop-card .desc {
  font-size: 17px;
  opacity: 0.8;
  margin-bottom: 3px;
}

.shop-card .cta {
  padding: 20px 20px 5px;
  margin-bottom: 20px;
}

.shop-card .price {
  color: #6b6b6bad;
  /* font-size: 22px; */
  font-weight: 900;
  padding-top: 2px;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
  /* margin-top: 4px; */
}

.shop-card .cta::after {
  content: "";
  display: table;
  clear: both;
}

.shop-card .btn {
  position: relative;
  z-index: 1;
  float: right;
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #13296d;
  padding: 12px 29px;
  padding-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 0.95;
  border: none;
  background: none;
  outline: none;
  border: 1px solid #ef9714;
  border-radius: 20px;
  overflow: hidden;
}
.shop-card .btn .bg {
  width: 101%;
  height: 101%;
  display: block !important;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(135deg, #13296d, #8e9eab);
}
.shop-card .btn:hover {
  color: #fff !important;
  border: 1px solid transparent !important;
}
.shop-card .btn:hover .bg {
  opacity: 1;
}


/*shop card 2*/

.shop-card2 .price {
  color: #6b6b6bad;
  /* font-size: 22px; */
  font-weight: 900;
  padding-top: 2px;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
  /* margin-top: 4px; */
}.shop-card2 .cta {
  padding: 20px 20px 5px;
  margin-bottom: 20px;
}.shop-card2 .desc {
  font-size: 17px;
  opacity: 0.8;
  margin-bottom: 3px;
}.shop-card2 .title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 20px;
  color: #881b18;
  margin-bottom: 5px;
}.shop-card2 {
  /*top: 50%;*/
  left: -20px;
  background: #e6e6e6;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 5px;
  /*padding: 25px;*/
  text-align: center;
}
.shop-card2 .cta::after {
  content: "";
  display: table;
  clear: both;
}

.shop-card2 .btn {
  position: relative;
  z-index: 1;
  float: right;
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #881b18;
  padding: 12px 29px;
  padding-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 0.95;
  border: none;
  background: none;
  outline: none;
  border: 1px solid #ef9714;
  border-radius: 20px;
  overflow: hidden;
}
.shop-card2 .btn .bg {
  width: 101%;
  height: 101%;
  display: block !important;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(135deg, #881b18, #c4c4c4);
}
.shop-card2 .btn:hover {
  color: #fff !important;
  border: 1px solid transparent !important;
}
.shop-card2 .btn:hover .bg {
  opacity: 1;
}
/*--------------------
Background
--------------------*/
.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%);
  z-index: 1;
  display: none;
}

.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}
.the-most img {
  max-width: 100%;
}