/* Cuadro Disponible*/


.card4{
  position: relative;
  cursor: pointer;
}

.card4 .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  padding-top: 10px;
  padding: 5px;
  box-sizing: border-box;
  transform: translateY(-92px);
  border-radius: 2px;

}

.card4:hover .face.face2{
  transform: translateY(0);
}

.card4 .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.card4 .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.card4 .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

.card4 .face.face1 .content img {
  max-width: 60px;
}
.card4 .face {
  width: 161px;
  height: 137px;
  transition: 0.5s;
}

.card4 .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-4px);
  box-shadow: 0 -7px 31px rgb(35 208 42);
  border-radius: 5px;
}

.card4:hover .face.face1{
  background: #16a085 !important;
  transform: translateY(0);
}


.card4 .face.face1 .content{
  opacity: 0.7;
  transition: 0.5s;
}

.card4:hover .face.face1 .content{
  opacity: 1;
}

.card4 .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}



/* Cuadro Ocupado*/




.card3{
  position: relative;
  cursor: pointer;
}

.card3 .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  padding-top: 10px;
  padding: 5px;
  box-sizing: border-box;
  transform: translateY(-92px);
  border-radius: 2px;

}

.card3:hover .face.face2{
  transform: translateY(0);
}

.card3 .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.card3 .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.card3 .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

.card3 .face.face1 .content img {
  max-width: 60px;
}
.card3 .face {
  width: 161px;
  height: 137px;
  transition: 0.5s;
}

.card3 .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-4px);
  box-shadow:  0 -7px 31px rgb(240 0 0 / 77%);
  border-radius: 5px;
}


.card3:hover .face.face1{
  background: #dd3e29;
  transform: translateY(0);
}

.card3 .face.face1 .content{
  opacity: 0.7;
  transition: 0.5s;
}

.card3:hover .face.face1 .content{
  opacity: 1;
}

.card3 .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}


/* Cuadro Limpieza*/
.bg-info {
  background-color: none !important;
  color: white !important;
}
.card2{
  position: relative;
  cursor: pointer;
}

.card2 .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  padding-top: 10px;
  padding: 5px;
  box-sizing: border-box;
  transform: translateY(-92px);
  border-radius: 2px;

}

.card2:hover .face.face2{
  transform: translateY(0);
}

.card2 .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.card2 .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.card2 .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

.card2 .face.face1 .content img {
  max-width: 64px;
}
.card2 .face {
  width: 161px;
  height: 137px;
  transition: 0.5s;
}

.card2 .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-4px);
  box-shadow: 0 -7px 31px rgb(0 216 200 / 49%);
  border-radius: 5px;
}
.card2:hover .face.face1{
  background: #29d1dd;
  transform: translateY(0);
}
.card2 .face.face1 .content{
  opacity: 0.7;
  transition: 0.5s;
}
.card2:hover .face.face1 .content{
  opacity: 1;
}
.card2 .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}


/* Cuadro Mantenimiento*/

*[class*='bg-']:not(.bg-default):not(.bg-white):not(.bg-tr-white) a:not(.ui-select-choices-row-inner):not(.event-remove) {
  color: rgb(0 0 0 / 70%);
}
.card{
  margin:-20px;
}

.bg-warning {
  background-color: none !important;
  color: white !important;
}
.card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  padding-top: 10px;
  padding: 5px;
  box-sizing: border-box;
  transform: translateY(-92px);
  border-radius: 2px;

}

.card:hover .face.face2{
  transform: translateY(0);
}

.card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

 .card .face.face1 .content img {
  max-width: 71px;
}
.card .face {
  width: 161px;
  height: 137px;
  transition: 0.5s;
}

.card .face.face1 {
  position: relative;
  margin-top: 21px;
  margin-left: 18px!important;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-4px);
  box-shadow: 0 -7px 31px rgb(224 202 38);
  border-radius: 5px;
}

.card:hover .face.face1{
  background: #d8b51a;
  transform: translateY(0);
}

.card .face.face1 .content{
  opacity: 0.7;
  transition: 0.5s;
}

.card:hover .face.face1 .content{
  opacity: 1;
}

.card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.bg-warning {
  background-color: none !important;
  color: white !important;
}