.checkbox-dropdown {
    width: 200px;
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    margin: 0 auto;

    user-select: none;
  }

  /* Display CSS arrow to the right of the dropdown text */
  .checkbox-dropdown:after {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
  }

  /* Reverse the CSS arrow when the dropdown is active */
  .checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
  }

  .checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    /* align the dropdown right below the dropdown text */
    border: inherit;
    border-top: none;
    left: -1px;
    /* align the dropdown to the left */
    right: -1px;
    /* align the dropdown to the right */
    opacity: 0;
    /* hide the dropdown */

    transition: opacity 0.4s ease-in-out;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none;
    /* avoid mouse click events inside the dropdown */
  }

  .is-active .checkbox-dropdown-list {
    opacity: 1;
    /* display the dropdown */
    pointer-events: auto;
    /* make sure that the user still can select checkboxes */
  }

  .checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;

    transition: all 0.2s ease-out;
  }

  .checkbox-dropdown-list li label:hover {
    background-color: #555;
    color: white;
  }






  .dropdown {
    position: relative;
    font-size: 14px;
    color: #333;
  }

  .dropdown .dropdown-list {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform 0.15s ease-in-out 0.15s;
    max-height: 66vh;
    overflow-y: scroll;
  }

  .dropdown .dropdown-option {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  .dropdown .dropdown-label {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;
  }

  .dropdown .dropdown-label:before {
    content: "▼";
    float: right;
  }

  .dropdown.on .dropdown-list {
    transform: scale(1, 1);
    transition-delay: 0s;
  }

  .dropdown.on .dropdown-list .dropdown-option {
    opacity: 1;
    transition-delay: 0.2s;
  }

  .dropdown.on .dropdown-label:before {
    content: "▲";
  }

  .dropdown [type=checkbox] {
    position: relative;
    top: -1px;
    margin-right: 4px;
  }


  input.form-control.col-md-8 {
    margin-right: 17px;
  }

  #stock {
    margin-right: -25px;
  }

  #id_acreditable {
    margin-right: -26px;
  }

  #id_acreditable_m {
    margin-right: -42px;
  }

  #aviso_stock {
    margin-right: -21px;

  }

  #id_descuento {
    margin-right: 35px;
  }

  #stock_m {
    margin-right: -88px;
  }

  #nombre {
    margin-right: -32px;
  }

  #precio_compra {
    margin-right: -14px;
  }

  #nombre_m {
    margin-right: -32px;
  }

  #precio_compra_m {
    margin-right: -19px;
  }

  select#id_descuento_m {
    margin-right: -156px;
  }


  /*Seccion de imagen*/
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }

  .avatar-upload .avatar-edit input {
    display: none;
  }

  .avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }

  .avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }

  .avatar-upload .avatar-preview {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 11%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
  }

  .avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 11%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .avatar-upload {
    position: relative;
    max-width: 145px;
    margin: initial;
    margin-bottom: 10px;
    margin-left: -20px;
  }


  /*MODIFICAR FORM CSS*/


  .avatar-upload_m .avatar-edit_m {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }

  .avatar-upload_m .avatar-edit_m input {
    display: none;
  }

  .avatar-upload_m .avatar-edit_m input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }

  .avatar-upload_m .avatar-edit_m input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  .avatar-upload_m .avatar-edit_m input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }

  .avatar-upload_m .avatar-preview_m {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 11%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
  }

  .avatar-upload_m .avatar-preview_m>div {
    width: 100%;
    height: 100%;
    border-radius: 11%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .avatar-upload_m {
    position: relative;
    max-width: 145px;
    margin: initial;
    margin-bottom: 10px;
    margin-left: -3px;
  }
  

  .modal-dialog {
    width: 818px!important;
    margin: 30px auto;
}
    

button.btn.btn-success {
  position: absolute;
  left: 600px;
}

button#btn_estado {
  margin-bottom: 20px;
}

input#filter_1 {
  width: 100%;
}

input#codigo_s {
  display: none;
}