.swal2-popup {
    width: 57em;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.swal2-icon.swal2-warning {
    font-size: 25px;
}

button.swal2-cancel.btn.btn-danger {
    margin-right: 20px;
    border-radius: 6px;
}

button.swal2-confirm.btn.btn-success {
    border-radius: 4 px;
}

.page {

    padding-top: 45px;
}