@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
h1 {
  text-align: center;
  margin: 50px auto 120px;
  color: #fff;
  text-transform: uppercase;
}

.main {
  width: 100%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.service {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;
}

/* Mengatur posisi logo service */
.service-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: #fff;
  border: 18px solid #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Membuat border title */
.service h4 {
  height: 35px;
  width: 80%;
  margin: 50px auto;
  background: #fff;
  position: relative;
}

.service h4::after,
.service h4::before {
  content: '';
  width: 40px;
  height: 30px;
 position: absolute;
 z-index: -1;
}

.service h4::after {
  background: linear-gradient(to right, #fff, #007bff);
  right: -5px;
  top: -5px;
}

.service h4::before {
  background: linear-gradient(to right, #007bff, #fff);
  left: -5px;
  bottom: -5px;
}


/* membuat shadow untuk service */
.main::after {
  content: '';
  height: 200px;
  width: 80%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;
}
.main::before {
  content: '';
  height: 200px;
  width: 64%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}

.main:hover .service {
  transform: translateY(-50px);
}

.main:hover::after {
  transform: translateY(-25px);
}

.service-logo img {
  transition: transform 1s;
}

.main:hover .service-logo img {
  transform: rotate(360deg);
}


    