.checkbox{
    position:relative;
    cursor:pointer;
    appearance:none;
    width:61px;
    height:20px;
    border-radius:20px;
    border:2px solid #ccc;
    outline:none;
    transition:0.3s;
  }
  .checkbox::before{
    content:"";
    position:absolute;
    height:17px;
    width:19px;
    border-radius:50%;
    background:#ccc;
    top:3px;
    left:4px;
    transition:0.3s ease-in-out;
  }
  .checkbox:checked::before{
    transform:translateX(27px);
    background:#3399ff;
  }
  .checkbox:checked{
    border-color:#3399ff;
  }
  .form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    margin-top: -2px;
  }

