.tab {
    max-width: 100%;
    width: 100rem;
    margin: auto;
    border: 1px solid #eaeaea;
}

.tab__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eaeaea;
}

.tab__link {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1rem 2rem;
}

.tab__link:hover,
.tab__link:focus {
    background-color: #d6d6d6;
}

.tab__link:focus {
    outline: auto;
    position: relative;
    z-index: 1;
}

.tab__link.is-active {
    background-color: #11638a;
    color: #fff;
}

.tab__main {
    padding: 2rem;
}

.tab:not(.has-js) .tab__content:target {
    display: block;
}

.input-group {
    margin-left: -4px!important;
}

.input-group-receptor {
    margin-left: 1px!important;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fff;
    /* opacity: 1; */
}





.modal-footer {
    background-color: #ffffff !important;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 92% !important;
    margin-bottom: 0;
}


.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #ffffff;
}

.table {

    box-shadow: none;
}

button.btn.btn-outline.pull-left {
    margin-left: -15px;
}

.btn {
    margin-bottom: -30px;
}

button#vlestado {
    margin-left: 26px;
}

.modal-content {
    margin-left: -60px !important;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
        box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
        width: 844px;
    }
}


.btn.btn-primary {
    box-shadow: 0 7px 21px 0 rgb(0 0 0 / 23%), 0 3px 1px -2px rgb(156 39 176 / 0%), 0 1px 5px 0 rgb(156 39 176 / 12%);
}

.text-center {
    text-align: initial!important;
}





  
  .flexbox-container {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
  }
  
  .flexbox-container > div {
      width: 50%;
      padding: 10px;
    background: #fff;
  }
  
  .flexbox-container > div:first-child {
      margin-right: 10px;
  }
  
.main{
    width: 49%!important;
}



.main:hover .service {
    transform: translateY(-10px)!important;
  }
  
  .main:hover::after {
    transform: translateY(-212125px)!important;
  }
  
  .service-logo img {
    transition: transform 1s!important;
  }
  
  .main:hover .service-logo img {
    transform: rotate(36012deg)!important;
  }