
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$black : #2d2c32;
$black2: #393e49;
$blue  : #62dafc;

html,
body {
    height          : 100%;
    background-color: $black;
    overflow-x      : hidden;
    font-family     : 'Poppins', sans-serif;
}

.bg-dark {
    background-color: $black !important;
}

.bg-dark2 {
    background-color: $black2 !important;
}

.text-muted {
    color: #9a9a9a;
}

.btn-outline-primary {
    border-color: $blue;
}

.btn-outline-primary:hover {
    background-color: $blue !important;
    border-color    : $blue !important;
    color           : $black !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: $blue !important;
    border-color    : $blue !important;
    color           : $black !important;
}