
  .profile-img-sm {
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: 10px!important;
  }

  @media (min-width: 1200px) {
    .container {
      width: 1250px;
    }
  }

  .card-category-1 {
    font-family: sans-serif;
    margin-bottom: 45px;
    text-align: center;
  }

  .card-category-1 div {
    display: inline-block;
  }

  .card-category-1>div,
  .card-category-2>div:not(:last-child) {
    margin: 10px 5px;
    text-align: left;
  }

  /* Basic Card */
  .basic-card {
    width: 300px;
    position: relative;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  }

  .basic-card .card-content {
    padding: 30px;
  }

  .basic-card .card-title {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
  }

  .basic-card .card-text {
    line-height: 1.6;
  }

  .basic-card .card-link {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    width: -webkit-fill-available;
  }

  .basic-card .card-link a {
    text-decoration: none;
    position: relative;
    padding: 10px 0px;
  }

  .basic-card .card-link a:after {
    top: 30px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;

    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }

  .basic-card .card-link a:hover:after {
    width: 100%;
    left: 0;
  }


  .basic-card-aqua {
    background-image: linear-gradient(to bottom right, #00bfad, #99a3d4);
  }

  .basic-card-aqua .card-content,
  .basic-card .card-link a {
    color: #fff;
  }

  .basic-card-aqua .card-link {
    border-top: 1px solid #82c1bb;
  }

  .basic-card-aqua .card-link a:after {
    background: #fff;
  }

  .basic-card-lips {
    background-image: linear-gradient(to bottom right, #ec407b, #ff7d94);
  }

  .basic-card-lips .card-content {
    color: #fff;
  }

  .basic-card-lips .card-link {
    border-top: 1px solid #ff97ba;
  }

  .basic-card-lips .card-link a:after {
    background: #fff;
  }

  .basic-card-light {
    border: 1px solid #eee;
  }

  .basic-card-light .card-title,
  .basic-card-light .card-link a {
    color: #636363;
  }

  .basic-card-light .card-text {
    color: #7b7b7b;
  }

  .basic-card-light .card-link {
    border-top: 1px solid #eee;
  }

  .basic-card-light .card-link a:after {
    background: #636363;
  }

  .basic-card-dark {
    background-image: linear-gradient(to bottom right, #252525, #4a4a4a);
  }

  .basic-card-dark .card-title,
  .basic-card-dark .card-link a {
    color: #eee;
  }

  .basic-card-dark .card-text {
    color: #dcdcdcdd;
  }

  .basic-card-dark .card-link {
    border-top: 1px solid #636363;
  }

  .basic-card-dark .card-link a:after {
    background: #eee;
  }
